@model List<Tuple<string, string>>

@{
    ViewData["Title"] = "YouTube Video List";
    var playlistTitle = ViewBag.PlaylistTitle;
}

<h2>@ViewData["Title"]</h2>

<div>
    <label for="playlistId">Enter Playlist ID:</label>
    <input type="text" id="playlistId" />
    <button onclick="getVideos()">Get Videos</button>
</div>

@if (Model != null && Model.Any())
{

    @if (!string.IsNullOrEmpty(playlistTitle))
    {
        <div style="display: flex">
            <h4 id="playlistTitle">***@playlistTitle</h4>
            <button style="margin-left: 1rem" class="copy-icon" onclick="copyToClipboard('playlistTitle')">Copy</button>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Embed Link</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        <div class="copy-container">
                            <span class="embed-link" id="embedLink_1_@i">@Model[i].Item1</span>
                            <button class="copy-icon" onclick="copyToClipboard('embedLink_1_@i')">Copy</button>
                        </div>
                    </td>
                    <td>
                        <div class="copy-container">
                            <span class="embed-link" id="embedLink_2_@i">@Model[i].Item2</span>
                            <button class="copy-icon" onclick="copyToClipboard('embedLink_2_@i')">Copy</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No videos found.</p>
}

@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <style>
        .copy-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .custom-toast {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100;
            height: fit-content;
        }
    </style>
    <script>
        function getVideos() {
            var playlistId = document.getElementById("playlistId").value;
            // You can perform additional validation on playlistId if needed

            // Redirect to the Index action with the playlistId parameter
            window.location.href = "/Home/Index?playlistId=" + playlistId;
        }

        function copyToClipboard(elementId) {
            console.log(elementId)
            var copyText = document.getElementById(elementId);
            var textArea = document.createElement("textarea");
            textArea.value = copyText.textContent; // Use textContent instead of innerText
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);

            // Show a toast notification
            Toastify({
                text: textArea.value + "\nCopied to clipboard!",
                duration: 1500,
                gravity: "bottom",
                // position: 'center',
                backgroundColor: "green",
                className: "custom-toast",
            }).showToast();
        }
    </script>
}
